.header {
  overflow: hidden;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;

  &.scrollTop {
    top: 0;
    background: #fff;

    .logo_wrap {
      svg {
        path {
          fill: #000;
        }
      }
    }

    .menu_wrap {
      display: block;
    }
  }

  .logo_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.5px 15px;

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .link_main {
        display: block;
        width: 87px;
        height: 23px;
      }
    }

    .tools_area {
      display: flex;
      justify-content: center;
      gap: 17px;

      .burger_btn {
        width: 22px;
        height: 18px;
      }

      .search_btn {
        width: 17px;
        height: 18px;

        &[aria-expanded="true"] {
          position: relative;
          z-index: 3;

          svg {
            display: none;
          }
        }
      }

      .link_cart {
        position: relative;
        width: 19px;
        height: 18px;

        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -4px;
          left: 13px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #000;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .link_profile {
        width: 18px;
        height: 18px;
      }
    }
  }

  .menu_wrap {
    position: relative;
    display: none;

    .shortcut_menu {
      &_area {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 43px;
        padding: 10px 15px;

        &::after {
          position: absolute;
          top: 0;
          right: 30px;
          z-index: 1;
          width: 26px;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          pointer-events: none;
          content: "";
        }
      }

      &_list {
        overflow-x: auto;
        display: flex;
        gap: 10px;
        width: calc(100% - 16px);
        scrollbar-width: none;
        -ms-overflow-style: none;
        line-height: 23px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &.is_show {
      .shortcut_menu_list {
        display: none;
      }

      .all_menu_title {
        display: block;
      }
    }

    .all_menu {
      &_area {
        overflow: hidden;
        height: 0;
        border-top: 1px solid #dcdcdc;
        background: #f6f6f6;
        transition: height 0.3s ease;
      }
      &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        padding: 11px 20px 11px 12px;
      }

      &_item {
        display: flex;
        padding: 7px 17px;
        border-radius: 100px;
        border: 1px solid #ebebeb;
        background: #fff;
        font-size: 14px;
        letter-spacing: -0.05em;
      }

      &_title {
        display: none;
      }

      &_btn {
        position: absolute;
        top: 10px;
        right: 15px;
        transform: translateY(26%);
        width: 15px;
        height: 12px;
        background: url("../images/ico_arrow_header.png") no-repeat center /
          12px;
        &[aria-expanded="true"] {
          top: 15px;
          transform: rotate(180deg);
        }
      }
    }
  }

  .input_search_area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;

    &.is_show {
      overflow: hidden;
      display: flex;
      background: url("../images/img_search_background.jpg") no-repeat center /
        cover;
      padding: 0 9.72%;
      .fieldset {
        width: 100%;
      }
    }
    .search_area_close_btn {
      width: 10px;
      height: 18px;
      position: absolute;
      top: 18px;
      left: 4.17%;
      &::before {
        background: url("../images/ico_arrow_prev.png") no-repeat center /
          contain;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
      }
    }

    .input_area {
      display: flex;
      position: relative;
      justify-content: space-between;
      border-bottom: 2px solid #fff;

      .input {
        width: calc(100% - 19px);
        color: #fff;
        line-height: 45px;
        &::placeholder {
          font-family: "Gilroy", "NotoSansKR", Malgun Gothic, "맑은 고딕", Dotum,
            "돋움", sans-serif;
          color: #fff;
          font-size: 21px;
          font-weight: 400;
        }

        &_btn {
          &:after {
            display: block;
            width: 19px;
            height: 19px;
            background: url("../images/ico_search.png") no-repeat center /
              contain;
            content: "";
          }
        }
      }
    }
  }
}

.gnb {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 83.2%;
  height: 100vh;
  background: #fff;
  transform: translateX(-100%);
  transition: all 0.5s;

  &.is_show {
    transform: none;
  }

  .headline {
    padding: 20px 0;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.02em;
    line-height: 20px;
  }

  .new_item {
    gap: 4px;
    &::after {
      margin-top: 0;
    }
  }

  .login_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px 14px;
    border-bottom: 1px solid #ddd;

    .login_link_area {
      display: flex;
      align-items: center;
      gap: 6px;

      .link_login {
        padding: 10px 26px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #0e0e0e;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;

        & + .link_login {
          background: #fff;
          color: #333;
        }
      }
    }

    .desc {
      display: flex;
      align-items: center;
      padding-top: 15px;
      margin-top: auto;
      color: #77797e;
      font-size: 13px;

      .member_benefit {
        font-weight: 700;
      }
    }
  }

  .nav {
    &_area {
      padding: 4px 16px;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding: 18px 0;
      border-bottom: 1px solid #ddd;
    }

    &_item {
      color: #333;
      line-height: 1;
    }

    &_item_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 600;
      letter-spacing: -0.02em;

      &::after {
        display: block;
        width: 24px;
        height: 24px;
        background: url("../images/ico_arrow_all.png") no-repeat;
        cursor: pointer;
        content: "";
      }

      &[aria-pressed="true"] {
        &::after {
          margin-right: -5px;
          transform: rotate(180deg);
        }
        & + .sub_list {
          padding-bottom: 15px;
        }
      }
    }
  }

  .event_list {
    .sub_item {
      color: #888;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .event_item {
    .nav_item_title::after {
      display: none;
    }
  }

  .sub {
    &_list {
      overflow: hidden;
      height: 0;
      transition: height 0.3s ease;
    }

    &_item {
      padding: 10px 0;
      color: #848484;
      font-size: 15px;
      letter-spacing: -0.5px;
      line-height: 15px;
    }
  }

  .link_item {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;

    .text_box {
      gap: 5px;
      position: relative;
      margin: 12px 0 6px;
      padding: 0;

      .title {
        min-height: auto;
        color: #222;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.02em;
      }

      .desc {
        color: #777;
        font-size: 13px;
        letter-spacing: -0.02em;
        line-height: 16px;
      }
    }

    .image_box {
      position: relative;
      padding-bottom: calc((757.7 / 849.91) * 100%);

      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .label_more {
      position: absolute;
      top: 0;
      right: 0;
      gap: 3px;
      color: #777;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.02em;
      &:after {
        content: "→";
      }
    }
  }

  .brand_info_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    .brand_info_link {
      width: 50%;
      padding: 14px 0;
      background: #f2f2f2;
      color: #777;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      letter-spacing: -0.02em;
      line-height: 16px;

      & + .brand_info_link::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 16px;
        background: #ccc;
        content: "";
      }
    }
  }

  .recent_area {
    width: 100%;

    .headline {
      padding: 30px 0 10px 0;
      font-size: 16px;
    }

    .recent_list {
      display: flex;
      gap: 7px;
      width: 100%;
      padding: 10px 0;

      .recent_item {
        width: 20%;

        .image_box {
          position: relative;
          padding-bottom: calc((254.81 / 169.97) * 100%);

          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .link_all {
      gap: 10px;
      width: fit-content;
      margin: 10px 0 0 0;
      padding: 10px 18px 10px 18px;
      border: 1px solid #ccc;
      border-radius: 2px;
      color: #777;
      font-weight: 400;
    }
  }

  .gnb_close_btn:before {
    display: block;
    position: absolute;
    top: 32px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: url("../images/btn_close.png") no-repeat;
    content: "";
  }
}
